<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Slapify</title>
    {% endblock title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div class="col-lg-12 d-lg-block">
        <ul class="navbar">
            {% if user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="navbar-item">
                <img src="{% static 'Slapify_logo.png' %}" alt="Slapify Logo"
                width="85">
            </li>
            <li class="navbar-item">
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </li>
            {% else %}
            <li class="navbar-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="navbar-item">
                <img src="{% static 'Slapify_logo.png' %}" alt="Slapify Logo"
                width="85">
            </li>
            <li class="navbar-item"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% block sidebar %}
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-lg-2 d-lg-block sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-item">{{user.user_type}}: {{ user.get_username }}</li>
                <hr>
                {% for playlist in user_playlists %}
                    <li class="sidebar-item">
                        <a href="{% url 'playlist_details' playlist.pk %}">{{ playlist.name }}</a>
                    </li>
                {% endfor %}
                <hr>
                <li class="sidebar-item">
                    <a href="{% url 'create_playlist' %}">Create New Playlist</a>
                </li>
                <li class="sidebar-item">Search Songs</li>
            </ul>
            <ul class="sidebar-nav">
                {% if user.user_type == 'Admin' %}
                    <hr>
                    <ul class="sidebar-nav">
                        <li>Admin</li>
                        <li><a href="">View something</a></li>
                        <li><a href="">View something seles</a></li>
                    </ul>
                {% endif %}
            </ul>          
        </div>
        <div class="col-lg-10">{% block content %}{% endblock content %}</div>
        {% else %}
        <div class="col-lg-12">{% block logged_out_content %}{% endblock logged_out_content %}</div>

        {% endif %}

    </div>
    {% endblock %}
</body>
</html>