{% extends "base_template.html" %}

{% block sidebar %}
<div class="row">
    {% if user.is_authenticated %}
        <div class="col-lg-2 d-lg-block sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-item">{{user.user_type}}: {{ user.get_username }}</li>
                <hr>
                {% for playlist in user_playlists %}
                    <li class="sidebar-item">
                        <a href="{% url 'playlist_details' playlist.pk %}">{{ playlist.name }}</a>
                    </li>
                {% endfor %}
                <hr>
                <li class="sidebar-item">
                    <a href="{% url 'create_playlist' %}">Create New Playlist</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'song_search' %}">Search Songs</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}