{% extends "base_template.html" %}

{% block content %}
<h2>{{ object.name }}</h2>
<table class="entry_table">
    <tr class="entry_table_row">
        <th class="entry_table_head">User</th>
        <th class="entry_table_head">Entry</th>
    </tr>
    {% for entry in object.entry.all %}
        <tr class="entry_table_row">
            <td class="entry_table_cell">{{entry.user}}</td>
            <td class="entry_table_cell">{{entry.entry}}</td>
            <td>
                <p>
                    Edit
                    <a href="{% url '' %}">Edit</a>
                </p>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}